name: Lint and test library
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-and-typecheck:
    name: Lint and typecheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile --non-interactive --prefer-offline

      - name: Test if the engine version specified is correct
        run: |
          npx ls-engines --mode actual --save
          git diff --exit-code package.json

      - name: Run typechecks
        run: |
          yarn typecheck

      - name: Run ESLint for frontend
        continue-on-error: true
        id: eslint-frontend
        run: |
          SARIF_ESLINT_IGNORE_SUPPRESSED=true yarn lint --max-warnings=0 --format @microsoft/eslint-formatter-sarif --output-file eslint-results.sarif
          
          # if success, create an empty file
          if [ $? -eq 0 ]; then
           touch eslint-results.result
          fi

      - name: Upload ESLint results
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: eslint-results.sarif
          wait-for-processing: true

      - name: Fail if ESLint found any errors
        run: |
          if [ -f eslint-results.result ]; then
              exit 0
          else
              exit 1
          fi

  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile --non-interactive --prefer-offline

      - name: Run tests
        run: |
          yarn test
